.cadastro {
  background: url('../assets/texture.png') no-repeat center;
  background-size: cover;
  padding: 100px 0;

  @include button;
  @include home-basic-section;

  .button {
    margin: 15px auto 0 auto;
  }
}
