.editor-wrapper {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.editor-toolbar {
  margin-bottom: 0;
  background-color: #dbe1e7;
}

.editor-content {
  background-color: white;
  padding: 20px 5px;
  div {
    margin: 0;
  }
}
